<h1>Comments for "<%= @post.title %>"</h>
<%= link_to "Create New Comment", new_topic_post_comment_path, class: "btn btn-success" %>

  <section class="topic-parent text-center">
  <% @comments.each do |comment| %>
    <div class="topic-child">
      <h5><%= comment.body %></h5>
      <%= image_tag comment.image, class: "img-settings img-responsive center-block post-image" %>


      <%= link_to "Edit Comment", edit_topic_post_comment_path(@topic, @post, comment), class: "btn btn-success" %>
      <%= link_to "Delete", topic_post_comment_path(@topic, @posts, comment), method: :delete, data: { confirm: "Delete?" }, class: "btn btn-warning" %>
    </div>
  <% end %>
  </section>
