<div class="landing">
  <div class="background">
    <div class="content">
      <h1 id="welcome">The Village</h1>
      <h2>"You Are Not Alone"</h2>
    </div>
  </div>

  <div class="background-2">
    <div class="content">
      <h1>Where Geek People Meet</h1>
    </div>
  </div>

  <section class="features-container">
      <div class="feature-title text-center">
        <h1><span id="head-title">What Will You Get</span></h1>
      </div>
      <div class="features">
        <div class="feature text-center">
          <%= fa_icon 'globe 4x' %>
          <h5> Helps From Others </h5>
        </div>
        <div class="feature text-center">
          <%= fa_icon 'medkit 4x' %>
          <h5> Motivation To Succeed </h5>
        </div>
        <div class="feature text-center">
          <%= fa_icon 'heart 4x' %>
          <h5> Gain Knowledges From Others </h5>
        </div>
        <div class="feature text-center">
          <%= fa_icon 'rocket 4x' %>
          <h5> Build A Team For Your Projects </h5>
        </div>
      </div>
  </section>

  <section class="photo-container">
    <div class="photo">
      <div class="invisible-layout">
        <div class="contents">
          <h3> flexible </h3>
        </div>
      </div>
      <%= image_tag "chalk-board.jpg", class: "img-responsive" %>
    </div>
    <div class="photo">
        <div class="invisible-layout">
          <div class="contents">
            <h3> flexible </h3>
          </div>
        </div>
      <%= image_tag "chalk-board.jpg", class: "img-responsive" %>
    </div>
    <div class="photo">
        <div class="invisible-layout">
          <div class="contents">
            <h3> flexible </h3>
          </div>
        </div>
      <%= image_tag "chalk-board.jpg", class: "img-responsive" %>
    </div>
    <div class="photo">
        <div class="invisible-layout">
          <div class="contents">
            <h3> flexible </h3>
          </div>
        </div>
      <%= image_tag "chalk-board.jpg", class: "img-responsive" %>
    </div>
  </section>

  <section class="information-container">
    <div>
      <h1><span id="head-title">Contact Information</span></h1>
    </div>
  </section>
</div>
