<h1>Register An Account</h1>
<%= form_for(@user, url: users_path, html: {id: "topic-create-form"}) do |f| %>

<div class="form-group">
  <h4> <%= f.label :title_field, "Username" %> </h4>
  <%= f.text_field :username, required: true, id: "user_username_field", class: 'form-control' %>
</div>

<div class="form-group">
  <h4> <%= f.label :title_field, "Email" %> </h4>
  <%= f.text_field :email, required: true, id: "user_email_field", class: 'form-control' %>
</div>

<div class="form-group">
  <h4> <%= f.label :title_field, "Password" %> </h4>
  <%= f.text_field :password, required: true, id: "user_password_field", class: 'form-control' %>
  <h4> <%= f.label :title_field, "Password Confirmation" %> </h4>
</div>

<div class="form-group">
  <h4> <%= f.label :title_field, "Avatar" %> </h4>
  <div id="preview-image">
    <% if @user.image? %>
      <%= image_tag @user.image, class: "img-settings img-responsive center-block post-image" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.file_field :image, id: "user_image_field", class: 'form-control image-uploader' %>
  </div>
</div>

<div class="form-group text-center">
  <%= f.submit "Create Account", class: "btn btn-success btn-lg" %>
</div>
<% end %>
