<h1>Posts</h1>
<%= link_to "Create New Post", new_topic_post_path, class: "btn btn-success" %>
<section class="topic-parent text-center">
<% @posts.each do |post| %>
  <div class="topic-child">
    <%= link_to post.title, topic_post_comments_path(@topic, post) %>
    <h5><%= post.body %></h5>
    <%= image_tag post.image, class: "img-settings img-responsive center-block" %>
    <%= link_to "Edit Post", edit_topic_post_path(@topic, post), class: "btn btn-primary" %>
  </div>
<% end %>
</section>
